@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
};

html, body {
  height: 100%;
  background-image: url("/PRBG.png");
  background-size: cover;
  
  
  background-color: #f8f8f8; /* fallback color */



}